{% extends "bootstrap/base.html" %}

{% block title %}CoinMarketCap API Viz{%- endblock title %}

{% block head %}

  {% block styles %}
    <link rel="shortcut icon" href="http://coinmarketcap.com/static/img/CoinMarketCap.png">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-h21C2fcDk/eFsW9sC9h0dhokq5pDinLNklTKoxIZRUn3+hvmgQSffLLQ4G4l2eEr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
  {%- endblock styles%}

  {% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="static/main.js"></script>

  {% endblock scripts%}


{% endblock head %}

{% block body %}

  {% include 'nav.html' %}

  {% block content %}
  {%- endblock content %}

{%- endblock body %}
